footer {
    background: #000;
    color: #fff;
    padding: 20px 0 0;
    margin: 35px 0 0;

    .logo img {
        width: 100px;
        height: auto;
    }
    h3 {
        font-weight: normal;
    }
    h3::after {
        width: 100px;
        height: 2px;
        content: "";
        display: block;
        border-bottom: 2px solid $green;
        margin: 5px 0;
    }
    .nav-link {
        display: inline-block;
        color: #fff;
        padding: 0px 10px;
    }
    .socialMedia {
        margin-top: 15px;
    }
}
