.postPreviewContainer {
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .postPreview {
        border: 1px solid gray;
        padding: 10px;
        width: 290px;
        margin: 0 auto 15px;

        &:hover {
            box-shadow: 0 0 7px grey;
        }
    }

    .postTitle {
        margin: 0 0 15px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .postFeatImg {
        margin: 0 0 15px;
        width: 100%;
        height: 200px;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .postDate {
        font-size: 0.9em;
        color: gray;
        font-style: italic;
        margin: 0 0 10px;
    }

    .postExcerpt {
        font-size: 14px;

        p {
            margin: 0 0 7px;
        }
    }

    a {
        text-decoration: none;
        color: #000;

        &:hover {
            color: #000;
        }
    }
}

.post-thumbnail img {
    width: 100%;
    height: auto;
}
.single-post .sidebar > h2:first-child {
    margin: 0;
}
.postTags,
.postCats {
    border-top: 1px solid $green;
    border-bottom: 1px solid $green;
    padding: 10px 0;
    margin: 15px 0;
    font-size: 0.8rem;
    color: #495057;
}
.related-posts {
    margin: 30px 0 0;

    .postPreviewContainer {
        margin: 20px 0 40px;
    }
}

.post-meta {
    font-size: 0.9rem;
    font-style: italic;
    margin: 15px 0 35px;

    .separator {
        margin: 0 5px;
    }
}
.single .post-thumbnail {
    height: 400px;

    img {
        height: 100%;
        object-fit: cover;
    }
}
