@media (min-width: 576px) {
    .fw-image {
        padding-bottom: 40%;
    }
    .main-title h1,
    .subH1 {
        margin-left: 0;
    }
    .qLinks {
        ul {
            column-count: 2;
        }
    }
    footer {
        padding: 50px 0 0;

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    .main-title {
        padding: 7% 15px 25px 45%;
        text-align: left;
    }
    .postPreviewContainer {
        margin: 40px -10px 0;

        .postPreview {
            width: 245px;
        }
        .postFeatImg {
            height: 150px;
        }
    }
    .home .postPreviewContainer {
        margin: 40px -10px;
    }
}
@media (min-width: 768px) {
    h2 {
        margin-top: 40px;
        font-size: 1.8em;
    }
    h3 {
        font-size: 1.5em;
    }
    #main-nav {
        &.navbar {
            padding: 15px 0px;
        }
    }
    .fw-image {
        padding-bottom: 35%;
    }
    .main-title {
        h1 {
            font-size: 1.75em;
            line-height: 1em;
        }
    }
    .subH1 {
        font-size: 20px;
        line-height: 20px;
    }
    .qLinks {
        ul {
            column-count: 3;
        }
    }
    .postPreviewContainer {
        margin: 40px -5px;

        .postPreview {
            width: 220px;
        }
    }
    .related-posts {
        .postPreviewContainer {
            margin: 20px 0 0px;
        }
    }
}
@media (min-width: 992px) {
    #topBar {
        display: block;
    }
    #main-nav {
        .nav-item {
            width: auto;
        }
        .nav-item:not(:last-of-type) {
            margin: 0 5px 0 0;
        }
        .navbar-nav {
            text-align: right;
            margin-top: 0;
        }
    }
    .main-title {
        padding: 7% 0 25px 45%;

        h1 {
            font-size: 2.25em;
        }
    }
    .subH1 {
        font-size: 25px;
        line-height: 25px;
    }
    .qLinks {
        margin-top: 0px;
    }
    .postPreviewContainer .postPreview {
        width: calc(100% / 2 - 10px);
        padding: 15px;
        margin: 0 0 15px;
    }
    .postsCol {
        width: calc(100% - 340px);
        order: 1;
    }
    .postPreviewContainer {
        margin: 40px 0px;

        .postFeatImg {
            height: 200px;
        }
    }
    .form-cols {
    
        .form-group {
            margin: 0 15px 1rem 0;
        }
    }
}
@media (min-width: 1200px) {
    .subH1 {
        font-size: 30px;
        line-height: 30px;
    }
    .main-title {
        padding: 9% 0 25px 49%;

        h1 {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 991px) {
    .entry {
        width: calc(50% - 15px);
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .entry .text {
        margin-left: 0px;
        margin-top: 10px;
        width: 100%;
        min-height: 150px;
    }
    #services .body {
        margin: 20px 0;
    }
}
@media (max-width: 767px) {
    .entry .text {
        min-height: unset;
    }
    .greenBubble {
        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
    }
}
@media (max-width: 525px) {
    .entry {
        width: 100%;
        max-width: unset;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .entry .text {
        min-height: unset;
    }
    #services .body {
        justify-content: center;
    }
}
