.search-form {
    label {
        margin: 0 0 10px;
        font-weight: bold;
        font-size: 1.5em;

        &::after {
            width: 100px;
            height: 2px;
            content: "";
            display: block;
            border-bottom: 2px solid #00c180;
            margin: 10px 0;
        }
    }
    input#search {
        padding: 0.375rem 30px 0.375rem 0.75rem;
    }
}
.searchimg {
    position: relative;

    button {
        background: none;
        outline: none;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        color: teal;
        padding: 7px 5px 0px;
    }
}
