.authorImage {
    margin: 16px 0 15px;

    img {
        max-height: 180px;
    }
}
.postsSidebar {
    width: 300px;
    margin: 0 0 40px;
}

.sidebarLayoutContainer {
    display: flex;
    justify-content: space-between;

    .sidebar {
        width: 300px;
        margin: 38px 0 0 40px;
        order: 2;
    }
    .sidecontent {
        width: calc(100% - 340px);
        order: 1;
    }
}
.home,
.search,
.page,
.blog,
.tag {
    .sidebar h2 {
        margin-top: 0;
    }
}
