.authorImage {
    margin: 16px 0 15px;

    img {
        max-height: 180px;
    }
}
.postsSidebar {
    width: 300px;
    margin: 0 0 40px;
}

.sidebarLayoutContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    .sidebar {
        width: 100%;
        margin: 0px 0 0 0px;
        order: 2;
    }
    .sidecontent {
        width: 100%;
        order: 1;
    }
}

.home {
    .sidebar {
        margin-top: 38px;
    }
}

.social-follows {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;

    a {
        background: #00c180;
        border-radius: 12px;
        padding: 7px 8px;
        margin: 5px;
        text-decoration: none;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
            0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
            0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

        &:hover {
            -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14),
                0 1px 7px 0 rgba(0, 0, 0, 0.12),
                0 3px 1px -1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14),
                0 1px 7px 0 rgba(0, 0, 0, 0.12),
                0 3px 1px -1px rgba(0, 0, 0, 0.2);
        }

        i.white:hover::before {
            color: #00ff8b;
        }

        i {
            font-size: 36px;
        }
    }
}

@media (min-width: 768px) {
    .sidebarLayoutContainer {
        .sidebar {
            width: 220px;
            margin: 38px 0 0 20px;
            order: 2;
        }
        .sidecontent {
            width: calc(100% - 240px);
            order: 1;
        }
    }
    .home,
    .search,
    .page,
    .blog,
    .tag,
    .archive {
        .sidebar h2:first-child {
            margin-top: 0;
        }
    }
}
@media (min-width: 992px) {
    .sidebarLayoutContainer {
        .sidebar {
            width: 300px;
            margin: 38px 0 0 40px;
        }
        .sidecontent {
            width: calc(100% - 340px);
        }
    }
}
